
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="buap logo"
    src="https://universidadesdemexico.mx/logos/original/logo-benemerita-universidad-autonoma-de-puebla.png"
  />
  <span>BRENDA GARCIA RAMIREZ</span>
    <div class="spacer"></div>
    
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=EvUmQT2xsaI&t=1499s" title="YouTube">
      <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
      </svg>
    </a>
</div>

<div class="content" role="main">

 


  <h2>Aplication Todo</h2>


  <div class="card-container">
    <div class= "card">
      <input type="text" [(ngModel)]= "todoItem" >
      <button type="submit" (click)="additem()">Add</button>
    </div> 
  </div>

  <div class="card-container">
    <table>
      <tr *ngFor="let item of todoList; let index = index">
      <td>{{item}}</td>
      <button type="submit" (click)="deleteitem(index)">x</button>
            </tr>
      </table>
      
    

 
    
</div>

  

<router-outlet></router-outlet>

